<div class="card mb-3 w-100">
  <div class="row">
    <div class="col-4 col-md-3 col-lg-2">
      <img
        [src]="profile.avatar_url"
        class="img-fluid rounded-start"
        alt="Profile avatar photo"
        style="height: 200px; margin: 10px; object-fit: cover"
      />
    </div>
    <div class="col-8 col-md-9 col-lg-10">
      <div class="card-body">
        <h5 class="card-title">{{ profile.name }}</h5>
        <p class="card-text">
          <a href="{{ profile.html_url }}">/{{ profile.login }}</a>
        </p>
        <p class="card-text">
          <small class="text-muted"
            >Followers: <strong>{{ profile.followers }}</strong> |
          </small>
          <small class="text-muted"
            >Public repos: <strong>{{ profile.public_repos }}</strong></small
          >
        </p>
        <p>
          <span
            class="badge bg-primary mx-1"
            *ngFor="let repo of profile.repos | slice:0:4"
          >
            <a href="{{repo.html_url}}" class="text-light">{{ repo.name }}</a>
          </span><br>
          <small class="text-muted mx-1">
            <a href="#" (click)="sortRepos($event, 'updated_desc')">Last updated</a> |
            <a href="#" (click)="sortRepos($event, 'name_asc')">Alphabetic</a>
          </small>
        </p>
      </div>
    </div>
  </div>
</div>
