<form class="container py-4" (submit)="handleSubmit($event)">
  <label htmlFor="basic-url" class="form-label">
    Please fill some valid username:
  </label>
  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon3">
      https://github.com/
    </span>
    <input
      type="text"
      class="form-control"
      id="basic-url"
      aria-describedby="basic-addon3"
      (change)="setSearchValue($event)"
      (keyup.enter)="searchProfile()"
    />
    <button
      class="btn btn-outline-success"
      type="button"
      id="button-addon2"
      (click)="searchProfile()"
    >
      Search
    </button>
    <button
      class="btn btn-outline-warning"
      type="button"
      id="button-addon2"
      (click)="clearProfiles()"
    >
      Clear
    </button>
  </div>
</form>
